@import './variables';

// skin

.card__container--DarthVader {
    border: 1px solid greenyellow;
    background: $darthVader-color-darkBlue;
    opacity: 1px;
    -webkit-box-shadow: 10px 10px 10px 10px rgba(97, 246, 100, 0.3);
    -moz-box-shadow: 10px 10px 10px 10px rgba(97, 246, 100, 0.3);
    -o-box-shadow: 10px 10px 10px 10px rgba(97, 246, 100, 0.3);
    box-shadow: 10px 10px 10px 10px rgba(97, 246, 100, 0.3);
}

.card__body--DarthVader{
    opacity: 1px;
    background: $darthVader-color-blue;
}

.card__name--DarthVader {
    padding-top: .50em;
    color: $darthVader-color-white;
    text-shadow: 2px 4px 3px rgba(23, 22, 22, 0.978);
}

.card__title--DarthVader {
    color: $darthVader-color-black;
    text-shadow: 2px 4px 3px rgba(253, 251, 251, 0.978);
}
.card__text--DarthVader{
    color: $darthVader-color-white;
    text-shadow: 2px 4px 3px rgba(13, 13, 13, 0.978);
}

.card__text--DarthVader:hover{
    color: $darthVader-color-white;
    font-family: var(--header-font-family);
}