// buttons
$darkside__button--red: rgb(255, 4, 0); 
$darkside__button--white: rgb(246, 244, 244); 

$theForce__button--blue: rgb(5, 247, 247);
$theForce__button--green: rgba(5, 247, 17, 0.542);

// colors

// the Darkside 
$darthVader-color-blue: #023273;
$darthVader-color-darkBlue: #03143F;
$darthVader-color-black: #0c0901;
$darthVader-color-white: #f8f7f4;

// the Force
$yoda-color-yellow: #FFDF00;
$yoda-color-orange: #FF9529;
$yoda-color-yellowOrange: #FDCC0D;
$yoda-color-black: #000;
$yoda-color-white: #fff;

