@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;800&family=Roboto:wght@400;700&display=swap");
.card__container--DarthVader {
  border: 1px solid rgba(172, 255, 47, 0.34);
  background: #03143F;
  opacity: 1px;
  box-shadow: 9px 9px 11px 1px rgba(249, 154, 2, 0.566);
}

.card__body--DarthVader {
  opacity: 1px;
  background-image: url("../../images/darkside-bg.jfif");
  background-repeat: no-repeat;
  background-size: cover;
}

.card__name--DarthVader {
  padding-top: 0.5em;
  color: #f8f7f4;
  text-shadow: 2px 4px 3px rgba(23, 22, 22, 0.978);
}

.card__title--DarthVader {
  color: #0c0901;
  text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
}

.card__text--DarthVader {
  color: #f8f7f4;
  text-shadow: 2px 4px 3px rgba(13, 13, 13, 0.978);
}

.card__text--DarthVader:hover {
  color: #0c0901;
  font-family: var(--header-font-family);
  font-weight: var(--header-font-weight);
  text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
  border-left: 2px solid rgba(255, 111, 0, 0.9);
}

.button__vader, .darkside-0 {
  color: #f8f7f4;
  background: rgba(255, 0, 0, 0.364);
}

.button__sidious, .darkside-1 {
  color: rgb(246, 244, 244);
  background: rgba(0, 0, 139, 0.353);
}

.button__asajj, .darkside-2 {
  color: #f8f7f4;
  background: rgba(0, 255, 204, 0.316);
}

.button__kylo, .darkside-3 {
  color: #f8f7f4;
  background: rgba(128, 0, 0, 0.305);
}

.button__savage, .darkside-4 {
  color: #f8f7f4;
  background: rgba(255, 179, 0, 0.311);
}

.card__container--Yoda {
  border: 1px solid #FFDF00;
  background: #FDCC0D;
  opacity: 1px;
  box-shadow: 9px 9px 11px 1px rgba(246, 239, 97, 0.714);
}

.card__body--Yoda {
  opacity: 1px;
  background-image: url("../../images/theForce-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.card__name--Yoda {
  color: #fff;
  padding-top: 0.5em;
  text-shadow: 2px 4px 3px rgba(23, 22, 22, 0.978);
}

.card__title--Yoda {
  color: #FDCC0D;
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #fbff18, 0 0 30px #fbff18, 0 0 40px #fbff18, 0 0 55px #fbff18, 0 0 75px #fbff18;
}

.card__text--Yoda:hover {
  color: #FF9529;
  font-family: var(--header-font-family);
  font-weight: var(--header-font-weight);
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #fbff18, 0 0 30px #fbff18, 0 0 40px #fbff18, 0 0 55px #fbff18, 0 0 75px #fbff18;
  border-left: 2px solid rgba(255, 225, 0, 0.605);
}

.button__yoda, .theForce-0 {
  color: #fff;
  background: rgba(172, 255, 47, 0.442);
}

.button__obiwan, .theForce-1 {
  color: #fff;
  background: rgba(3, 225, 250, 0.284);
}

.button__anakin, .theForce-2 {
  color: #fff;
  background: rgba(0, 255, 204, 0.626);
}

.button__chewie, .theForce-3 {
  color: #fff;
  background: rgba(222, 184, 135, 0.29);
}

.button__ahsoka, .theForce-4 {
  color: #fff;
  background: rgba(255, 255, 0, 0.405);
}

:root {
  --light-color: #FFFF;
  --dark-color: #000;
  /* font style */
  --header-font-family: "Libre Franklin", sans-serif;
  --header-font-weight: 800;
  --header-font-style: normal;
  --body-font-family: "Roboto", sans-serif;
  --body-font-weight: 400;
  --body-font-style: normal;
}

body {
  background-image: url(../../images/background-gif.gif);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--light-color);
}

/* Image Card */
/* Structure */
.header {
  display: flex;
  justify-content: center;
  padding: 20px 10px;
}

.header img {
  width: 50%;
  height: 50%;
}

.main__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.theForce__wrapper, .darkside__wrapper, .card__wrapper, .card__title h4, .card__button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.card__wrapper, .card__title, .card__name h4, .card__text--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.card__container {
  width: 300px;
  position: relative;
  border-radius: 5px;
  text-align: left;
  padding: 20px 10px 20px;
}

.darkside-0, .darkside-1, .darkside-2, .darkside-3, .darkside-4 {
  transform: scale(0.7) translate(0px, -50px) skew(15deg, 0deg);
  padding: 2rem 2rem;
}

.theForce-0, .theForce-1, .theForce-2, .theForce-3, .theForce-4 {
  transform: scale(0.7) translate(0px, -50px) skew(-15deg, 0deg);
  padding: 2rem 2rem;
}

.card__image {
  position: relative;
  margin: auto;
  overflow: hidden;
  border-radius: 5px 5px 0px 0px;
  height: 200px;
}

img {
  width: 100%;
  aspect-ratio: auto 1/1;
  border-radius: 5px 5px 0px 0px;
  transition: all 0.8s;
}

.card__image:hover img {
  transform: scale(1.1);
}

.card__title {
  top: 10px;
  font-size: 25px;
  font-family: var(--header-font-family);
  font-weight: var(--header-font-weight);
  font-style: var(--header-font-style);
}

.card__text {
  padding: 10px;
  line-height: 2px;
  font-size: 1rem;
  font-family: var(--body-font-family);
  font-weight: var(--body-font-weight);
  font-style: var(--body-font-style);
  text-decoration: none;
  list-style: none;
}

.card__button {
  padding: 5px 5px;
}

.button {
  width: 7rem;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  font-size: 1rem;
}

.button:hover {
  border: 5px dashed #f5f7f2;
}

/* Skin */
@media screen and (min-width: 200px) and (max-width: 900px) {
  .main__wrapper, .header, .card__title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  body {
    font-size: 1.5rem;
  }
  .darkside-0, .darkside-1, .darkside-2, .darkside-3, .darkside-4 {
    transform: none;
    padding: 2rem 2rem;
  }
  .theForce-0, .theForce-1, .theForce-2, .theForce-3, .theForce-4 {
    transform: none;
    padding: 2rem 2rem;
  }
}/*# sourceMappingURL=style.css.map */